<ion-view title="Add a blob" id="addABlob" class=" ">
    <ion-content padding="true" class="has-header">
    	<form name="addABLob">
	    	<label  class="item item-input">
	    		<input type="text" name="" ng-model="newblob.heading" placeholder="Heading">
	    	</label>
	    	<label class="item item-input">
	    		<textarea ng-model="newblob.description" placeholder="Your text" rows="5" required></textarea>
	    	</label>
		    <label class="item item-input">
		        <input type="file" name="file" id="file" class="inputfile" />
		    </label>
	        <a ui-sref="menu.blobStream" class=" button button-calm  button-block " ng-click="addCtrl.addNewBlob(newblob)">Send</a>
	    	<div class="item item-divider"></div>
	    	<div name="preview">
		    	<h2 class="padding">Preview</h2>
		    	<div class="item item-body" id="blobs-container">
		            <p style="margin-top:0px;color:#000000; text-align:right;">{{addCtrl.userName}} @ Blob Stream</p>
		            <h2 style="margin-top:0px; text-align=left;" ng-if="newblob.heading">{{newblob.heading}}</h2>
		            <p ng-if="newblob.description">{{newblob.description}}</p>
		            <div class="item item-image" text-align: center;">
		                <img ng-if="newblob.image" class="fullscreen-image" ng-src="{{newblob.image}}">
		            </div>
		        </div>
	        </div>
        </form>
    </ion-content>
</ion-view>