<ion-view title="Blob Stream" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="blobStream-list-item-container1">
            <p id="blobStream-markdown1" style="margin-top:0px;color:#000000;" class=" ">Tom @ Some Group</p>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <button id="blobStream-button2" class=" button button-positive  button-block icon ion-android-star ">Cool stuff</button>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar">
		<a href="#/addABlob" class="button">Add a blob</a>
	</ion-footer-bar>
</ion-view>