<ion-view title="Pick a name" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pickAName-form1" class="list ">
            <label class="item item-input " id="pickAName-textarea1">
                <span class="input-label">Username</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <a ui-sref="menu.blobStream" id="pickAName-button1" class=" button button-positive  button-block ">Start</a>
    </ion-content>
</ion-view>