<ion-view title="Pick a name" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pickAName-form1" class="list ">
            <ion-list id="pickAName-list1" class=" ">
                <label class="item item-input " id="pickAName-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.blobStream" id="pickAName-button1" class=" button button-stable  button-block ">Start</a>
        </form>
    </ion-content>
</ion-view>